<div class="overflow-x-auto">
    <div class="min-w-full">
      <table class="min-w-full divide-y divide-gray-200">
        <thead class="bg-gray-800 text-white">
          <tr>
            <th class="px-2 py-3 text-left text-xs font-medium uppercase tracking-wider sm:px-6">Name</th>
            <th class="px-2 py-3 text-left text-xs font-medium uppercase tracking-wider sm:px-6">Email</th>
            <th class="px-2 py-3 text-left text-xs font-medium uppercase tracking-wider sm:px-6">Phone Number</th>
            <th class="px-2 py-3 text-left text-xs font-medium uppercase tracking-wider sm:px-6">Address</th>
            <th class="px-2 py-3 text-left text-xs font-medium uppercase tracking-wider sm:px-6">Longitude</th>
            <th class="px-2 py-3 text-left text-xs font-medium uppercase tracking-wider sm:px-6">Latitude</th>
          </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
          <tr *ngFor="let details of storedData">
            <td class="px-2 py-4 whitespace-nowrap sm:px-6">{{ details.name }}</td>
            <td class="px-2 py-4 whitespace-nowrap sm:px-6">{{ details.email }}</td>
            <td class="px-2 py-4 whitespace-nowrap sm:px-6">{{ details.phoneNumber }}</td>
            <td class="px-2 py-4 whitespace-nowrap sm:px-6">{{ details.addresses[0] }}</td>
            <td class="px-2 py-4 whitespace-nowrap sm:px-6">{{ details.longitude }}</td>
            <td class="px-2 py-4 whitespace-nowrap sm:px-6">{{ details.latitude }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  