<div class="overflow-x-auto">
  <div
    class="min-w-full flex flex-col md:flex-col lg:flex-row items-center justify-center justify-between"
  >
    <div class="lg:p-2 m-2 w-full lg:basis-1/2">
      <div class="flex justify-between">
        <h3>Products</h3>
        <a>See More</a>
      </div>
      <table class="min-w-full divide-y divide-gray-200">
        <thead class="bg-gray-800 text-white">
          <tr>
            <th
              class="px-2 py-3 text-left text-xs font-medium uppercase tracking-wider sm:px-6"
            >
              Product Name
            </th>
            <th
              class="px-2 py-3 text-left text-xs font-medium uppercase tracking-wider sm:px-6"
            >
              Product Price
            </th>
            <th
              class="px-2 py-3 text-left text-xs font-medium uppercase tracking-wider sm:px-6"
            >
              Availability
            </th>
            <!-- <th
              class="px-2 py-3 text-left text-xs font-medium uppercase tracking-wider sm:px-6"
            >
              Action
            </th> -->
          </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
          <tr *ngFor="let product of productList">
            <td class="px-2 py-4 whitespace-nowrap sm:px-6">
              {{ product?.location?.address }}
            </td>
            <td class="px-2 py-4 whitespace-nowrap sm:px-6">
              {{ product?.totalPrice }}
            </td>
            <td class="px-2 py-4 whitespace-nowrap sm:px-6">
              {{ product?.isAvailable }}
            </td>
            <!-- <td class="px-2 py-4 whitespace-nowrap sm:px-6">VIEW</td> -->
          </tr>
        </tbody>
      </table>
    </div>

    <div class="lg:p-2 m-2 w-full lg:basis-1/2">
      <div class="flex justify-between">
        <h3>Users</h3>
        <a>See More</a>
      </div>
      <table class="min-w-full divide-y divide-gray-200">
        <thead class="bg-gray-800 text-white">
          <tr>
            <th
              class="px-2 py-3 text-left text-xs font-medium uppercase tracking-wider sm:px-6"
            >
               Names
            </th>
            <th
              class="px-2 py-3 text-left text-xs font-medium uppercase tracking-wider sm:px-6"
            >
              Phone Number 
            </th>
            <th
              class="px-2 py-3 text-left text-xs font-medium uppercase tracking-wider sm:px-6"
            >
              Email
            </th>
            
          </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
          <tr *ngFor="let user of userList">
            <td class="px-2 py-4 whitespace-nowrap sm:px-6">
              {{ user?.fullName }}
            </td>
            <td class="px-2 py-4 whitespace-nowrap sm:px-6">
              {{ user?.phoneNumber }}
            </td>
            <td class="px-2 py-4 whitespace-nowrap sm:px-6">
              {{ user?.email }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
